.movieCard {
  width: 30%;
  color: var(--white);
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blured-black);
  padding: 1rem;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
}

.movieCard:hover {
  transform: scale(1.1);
}

.movieCard img {
  max-width: 100%;
  border-radius: 0.3125rem;
}

.movieCard img,
.movieCard h2,
.movieCard p {
  margin-bottom: 1rem;
}

.movieCard svg {
  color: var(--yellow);
}

.details {
  display: flex;
  justify-content: center;
  background-color: var(--jet);
  border: 0.125rem solid var(--white);
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: var(--gainsboro);
  padding: 1rem 0.5rem;
  transition: 0.4s;
}

.details:hover {
  background: transparent;
  color: var(--white);
}
