.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}

.navbar h2 a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar form {
  display: flex;
  gap: .5rem;
}

.navbar input {
  padding: .2rem .8rem;
  border-radius: 0.3125rem;
  border: none;
}

.navbar button {
  display: flex;
  align-items: center;
  background-color: #f7b354;
  border: #f7b354;
  border-radius: 0.3125rem;
  color: black;
  padding: .3rem;
  font-size: 1.3rem;
  transition: .4s;
  cursor: pointer;
}

.navbar button:hover {
  background-color: transparent;
  color: #f7b354;
}