:root {
  --white: #ffffff;
  --black: #000000;
  --cabana-dark-blue: #236ad6;
  --cabana-light-blue : #2095f2;
  --cabana-red: #d7415d;
  --cabana-yellow : #ffd960;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--cabana-yellow);
  transition: .5s;
}

a:hover {
  color: var(--cabana-dark-blue);
}